@{
    ViewBag.Page = "About";
    ViewBag.Title = "Fireproof Movie, Movie Trailer and Description";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
    ViewBag.Description = "The Love Dare Book, the help you need to guide through the life-changing journey of saving your marriage – As seen in Fireproof the Movie";
    ViewBag.Keywords = "fireproof trailer, fireproof review, fireproof movie description, love dare book, buy, purchase, Christian marriage help, fireproof book, fireproof movie, happy marriage, help, save marriage, love marriage";
}

<div class="col-xs-12 col-sm-3  col-md-3 col-lg-3">
    <h2>The Love Dare Book introduced in<br />Fireproof the Movie</h2> 
    <div style="text-align:center">
        <p>
            <a href="http://www.outreach.com/print/DetailPage.asp?R=9497&amp;sourcecode=08W243"><img src="~/content/images/love-dare-book.jpg" alt="Buy The Love Dare Book Now" width="150" border="0" /></a><br />
            <span style="font-size:14px;font-weight:bold;">$9.99 Each</span><br />
            <span style="text-decoration:line-through;">Retail: $14.99</span>
        </p>
        <p>
            <a href="http://www.outreach.com/print/DetailPage.asp?R=9497&amp;sourcecode=08W243"><img src="~/content/images/order-now.jpg" alt="Order Now" /></a><br />
            <a href="http://www.outreach.com/print/DetailPage.asp?R=9498&amp;sourcecode=08W243">Save when you buy in bulk.<br />Only 8.95 each!</a>
        </p>
    </div>
</div>

<div class="col-xs-12 col-sm-9  col-md-9 col-lg-9" style="text-align:left">
    <h1>About Fireproof the Movie</h1>
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <span style="font-weight:bold">FIREPROOF</span> is the story of a successful, well-respected Georgia fire captain whose marriage does not enjoy the same success. Caleb and his wife cannot seem to stop arguing unless they occupy different rooms, in which case Caleb finds solace in an online porn addiction. With divorce threatening and his motivation waning, Caleb seeks advice from his father, who’s newly birthed faith in Christ leads him to offer Caleb a Love Dare. As Caleb works through The Love Dare devotionals, Christ begins to change Caleb and his marriage from the inside out, giving hope that perhaps his marriage can be "reborn" as well.    <br />
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
    <br />
    <a href="http://www.fireproofthemovie.com" target="_blank">Fireproof the Movie Website &nbsp;>>></a>
</div>

<div class="clearfix"></div>
