@{
    ViewBag.Title = "The Love Dare Book, FIREPROOF the Movie, Marriage Inspiration Resource";
    ViewBag.Description = "The best price on the Love Dare Book - includes free bumper sticker. Get the help you need to guide through the life-changing journey of saving your marriage – As seen in Fireproof the Movie";
    ViewBag.Keywords = "love dare book, buy, purchase, Christian marriage help, fireproof book, fireproof movie, happy marriage, help, save marriage, love marriage, advice, marriage counselor, relationship help, marriage therapy, save marriage, stop divorce, troubled marriage";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


<div class="col-xs-12 col-sm-9  col-md-9 col-lg-9">
    <h1>The Love Dare Book</h1>
    <div class="video-container">
        <iframe width="480" height="270" src="http://www.youtube.com/embed/z1fKXkcQqYM?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <p>
                <a href="http://www.outreach.com/print/DetailPage.asp?R=9497&amp;sourcecode=08W243"><img src="~/content/images/love-dare-book.jpg" alt="Buy The Love Dare Book Now" width="150" border="0" /></a><br />
                <span style="font-size:14px;font-weight:bold;">$9.99 Each</span><br />
                <span style="text-decoration:line-through;">Retail: $14.99</span>
            </p>
            <p style="text-align:center">
                <a href="http://www.outreach.com/print/DetailPage.asp?R=9497&amp;sourcecode=08W243"><img src="~/content/images/order-now.jpg" alt="Order Now" /></a><br />
                <a href="http://www.outreach.com/print/DetailPage.asp?R=9498&amp;sourcecode=08W243">Save when you buy in bulk.<br />Only 8.95 each!</a>
            </p>

        </div>
        <div class="col-md-9 col-lg-9" style="text-align:Left">
            <p>
                In the movie <span style="font-weight:bold">FIREPROOF</span>, a couple dares to rescue their choking marriage from the flames of divorce and temptation using <span style="font-style:italic">The Love Dare</span> book as a guide. Now you can take the experience of the film one step further with your own copy of <span style="font-style:italic">The Love Dare</span> book. This daily devotional steers you through the fiery challenge of developing a strong, committed marriage in a world that threatens to burn it to the ground.
                <p></p>
                <span style="font-style:italic"> The Love Dare</span> personally leads you through daily devotionals, records your thoughts and experiences, and ends each day daring you to perform a simple act of love for your spouse. This 40-Day journey equips you to melt hardened, separated hearts into an enduring love that can withstand the flames of fear, pride and temptation. <span style="font-style:italic">
                The Love Dare</span> book will help you reinforce and enrich your marriage, earn back a love you thought was lost, and hear more about the One who not only designed unconditional, sacrificial love—He illustrated it.
                <p></p>
                In a world that attacks, devalues, and redefines relationships every day, learn how to rescue and protect your marriage from the firestorm. Take <span style="font-style:italic">
                The Love Dare
                </span> and <span style="font-weight:bold">
                FIREPROOF
                </span> your relationship.
                <p></p>
            </p>
    <h2>Topics Discussed in The Love Dare Book</h2>

    <p>In <span style="font-weight:bold">FIREPROOF</span>, <span style="font-style:italic">The Love Dare</span> covers the topics of relationship parasites (addictions like pornography and gambling) and unconditional love. <span style="font-style:italic">The Love Dare</span> devotional book expands and extends the topics addressed in the film’s plot to include such vital issues as:</p>
    <div style="text-align:left">
        <ul>
            <li>Why Marriage? Explore the blessings and challenges of godly marriage.</li>
            <li>Contract or Covenant? Examine the difference between the world’s design for marriage and God’s original intention.</li>
            <li>Clean Fighting. Learn how to fight the fires of conflict effectively and respectfully.</li>
            <li>leading your heart, instead of vice versa. practice choosing love when it isn’t your instinctive response.</li>
        </ul>
    </div>
</div>
    </div>
    <div class="row">
        <p />
        <div class="col-md-3 col-lg-3">
            <img src="~/content/images/fireproof-couples-kit.jpg" width="170" height="170" alt="sample picture of FIREPROOF couples kit" style="margin: 0 0 10px 0;" />
            <div style="text-align:center"><a href="http://www.outreach.com/print/DetailPage.asp?R=9500&sourcecode=08W243"><img src="~/content/images//learn-more.gif.png" alt="learn more about couples study products" width="106" height="25" style="margin: 10px 0 0 0;" /></a></div>
        </div>
        <div class="col-md-9 col-lg-9" align="left">
            <h2><span style="font-style:italic">also available...</span><br /><span style="font-style:italic">Fireproof Your Marriage</span> Couple's Study</h2>
            <p style="text-align:left">This six session in-home study is a great way for you and your spouse to build and strengthen your marriage. The <span style="font-style:italic">Fireproof Your Marriage</span> study integrates movie clips from <span style="font-weight:bold">FIREPROOF</span>, along with key Scriptures, thought-provoking questions and devotionals, including concepts from <span style="font-style:italic">The Love Dare</span> book. The Couple’s Kit includes a six-session DVD and two Participant’s Guides.</p>
            <p style="text-align:left">Learn to appreciate the God-designed differences between men and women, how God's love enables you to love others and how to live a life free from temptations that can destroy your marriage.</p>

            <div class="enespanol"><a href="http://www.outreach.com/print/DetailPage.asp?Ntt=spanish&amp;N=41+4294965692&amp;Nty=1&amp;R=10843&amp;Ntx=mode+matchallpartial&amp;Ntk=all"><img src="~/content/images/infoenespanol.jpg" width="50" height="50" border="0" /></a></div>
            <div class="enespanoltxt" align="left">Now available in Spanish! <a href="http://www.outreach.com/print/DetailPage.asp?Ntt=spanish&amp;N=41+4294965692&amp;Nty=1&amp;R=10843&amp;Ntx=mode+matchallpartial&amp;Ntk=all">Click here</a> for more info and to purchase.</div>
        </div>
    </div>
    <div class="row">
        <p />
        <div class="col-md-3 col-lg-3">
            <img src="~/content/images//fireproof-couples-kit2.jpg" width="170" height="128" alt="sample picture of FIREPROOF couples kit plus 2 love dare bundle" style="margin: 0 0 10px 0;" />
            <p style="text-align:center"><a href="http://www.outreach.com/print/DetailPage.asp?R=9907&amp;sourcecode=08W243"><img src="~/content/images/learn-more.gif.png" alt="learn more about couples study products" width="106" height="25" style="margin: 10px 0 0 0;" /></a></p>
        </div>
        <div class="col-md-9 col-lg-9" align="left">
            <h2><span style="font-style:italic">Fireproof Your Marriage</span> Couple's Study plus 2 Love Dare Bundle</h2>
            <p style="text-align:left">Combine the power of The Love Dare with a Fireproof study on the Biblical concepts of unconditional love, freedom from temptation and the differences between men and women. Includes two copies of <span style="font-style:italic">The Love Dare</span>, as seen in the recent box office smash <span style="font-weight:bold">FIREPROOF</span>, and one <span style="font-style:italic">Fireproof Your Marriage</span> Couple's Kit, a six-week study that integrates key movie clips and thought-provoking questions. Save $20 on these powerful products and take the dare!</p>
        </div>
    </div>
</div>



<div class="col-xs-12 col-sm-3  col-md-3 col-lg-3">
    <p /><p />
    <div style="text-align:center;margin-bottom:20px;">
        <a href="http://www.outreach.com/products/Church-Small-Groups/Love-Dare-for-Parents-22335.aspx" title="New Love Dare for Parents Bundle" target="_blank"><img src="~/content/images/0713_ad_lovedareparents.jpg" alt="New Love Dare for Parents Bundle" class="img-responsive" /></a>
    </div>

    <hr style="text-align:left" width="100%" />

    <h2>About the Authors</h2>
    <div style="text-align:left">
        Alex and Stephen Kendrick serve on the pastoral staff at Sherwood Baptist Church in Albany, GA. They began working in film when surveys showed how churches respond so positively to film as a ministry tool. They have since founded Sherwood Pictures, a production company dedicated to bringing Christian life-change to moviegoers all over the world. Their last film, Facing the Giants (2006), has been called “the surprise theatrical hit of 2007” and drew positive feedback from viewers in the ministry and secular film industry alike.
        <p />
        <img src="~/content/images/alex-stephen-kendrick.jpg" alt="Authors of The Love Dare Alex and Stephen Kendrick" width="184" height="145" class="img-responsive" />
        <!-- Eric Wilson and his wife have been married eighteen years; they have a passion for developing strong marriages. He has written seven other novels, including two based on other films by Alex and Stephen Kendrick. He hopes to provide “great stories that allow people to explore questions in imaginative ways, leading to the One who is the Answer to them all.” He spent time in Europe and Asia, ministering during the era of the Berlin Wall and the Iron Curtain when the Bible wasn’t particularly welcome. A bible college graduate, he and his family live in Nashville, TN.<br />-->
    </div>
</div>
<div class="clearfix"></div>

@*20 <p style="text-align:center">*@
