@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<h2>Page Not Found</h2>

Sorry, We can't find your page<br /><br />
@Html.ActionLink("Return to our home page","Index","Home")
  
